/* navbar styling */
.navbar {
  padding: 12px;
  background-color: beige;
  float: left;
}

.cent {
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
  font-weight: 600;
}

/* header styling */

.jumbotron {
  background-image: linear-gradient(to top, #5b2eb0, #bd1895, #f03c72, #ff7655, #ffaf4d, #ffaf4d, #ffaf4d, #ffaf4d, #ff7655, #f03c72, #bd1895, #5b2eb0);  
  font-family: 'Courier New', Courier, monospace;
}

.headshot {
  float: right;
  width: 110px;
  border-radius: 10px;
}

/* column styling */

.row {
  padding: 15px;
}

.content {
  border-radius: 10px;
  background-image: radial-gradient(#f9f871, #ffaf4d, #ff5f65, #d51c90, #0a027e);
}

.git {;
}

.sidenote {
  font-size: 3px;
}

.resource {
  
}

.about {
  
}

body {
  background-image: url(../img/bgimg1.jpg);
  background-position: center;
  font-family: cursive;
}

