.navbar {
  padding: 3px;
  background-color: beige;
  float: left;
}

.jumbotron {
  background-image: linear-gradient(to left bottom, #f9f871, #ffaf4d, #ff5f65, #d51c90, #5b2eb0);
  text-align: center;
}

.red {
  float: right;
  width: 110px;
}

.cent {
  text-align: center;
}
.git {
  background-color: rgb(211, 157, 157);
}

.rec {
  background-color: chartreuse;
}

.about {
  background-color: #bc13fe;
}

.sidenote {
  font-size: 3px;
}

body {
  background-image: radial-gradient(circle, #f9f871, #ffaf4d, #ff5f65, #d51c90, #5b2eb0);
  background-position: center;
  background-color: #cccccc;
}

